<div class="container">
  <h1>Dimos Recipe App</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Sök på maträtter"
      />
    </div>
    <div class="form-group my-2">
      <label for="exampleFormControlSelect1">Algergier</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Gluten</option>
        <option>Nötter</option>
        <option>Vegetarian</option>
      </select>
    </div>
  </form>
</div>
